.root {
    position: relative;
  }

  .tilesBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      180deg,
      rgba(229, 231, 235, 0),
      rgba(229, 231, 235, 0.7)
    );
  }
  :global(.dark) .tilesBg {
    background-image: linear-gradient(
      180deg,
      rgba(38, 38, 38, 0.1),
      rgba(38, 38, 38, 0.7)
    );
  }

  .tiles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('data:image/svg+xml;base64,PHN2ZwogIHdpZHRoPSIxNDIiCiAgaGVpZ2h0PSI3MSIKICB2aWV3Qm94PSIwIDAgMTQyIDcxIgogIGZpbGw9Im5vbmUiCiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgo+CiAgPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwKSI+CiAgICA8cmVjdCB4PSIwLjUiIHk9IjAiIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0iI2ZmZiIgLz4KICAgIDxyZWN0IHg9IjcxLjUiIHk9IjAiIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0iI2ZmZiIgLz4KICA8L2c+CiAgPGRlZnM+CiAgICA8Y2xpcFBhdGggaWQ9ImNsaXAwIj4KICAgICAgPHJlY3Qgd2lkdGg9IjE0MiIgaGVpZ2h0PSI3MSIgZmlsbD0id2hpdGUiIC8+CiAgICA8L2NsaXBQYXRoPgogIDwvZGVmcz4KPC9zdmc+');
    background-position: calc(50% - 35.5px) bottom;
    background-repeat: repeat;
    background-size: 142px 71px;
  }
  :global(.dark) .tiles {
    background-image: url('data:image/svg+xml;base64,PHN2ZwogIHdpZHRoPSIxNDIiCiAgaGVpZ2h0PSI3MSIKICB2aWV3Qm94PSIwIDAgMTQyIDcxIgogIGZpbGw9Im5vbmUiCiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgo+CiAgPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwKSI+CiAgICA8cmVjdCB4PSIwLjUiIHk9IjAiIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0iIzExMSIgLz4KICAgIDxyZWN0IHg9IjcxLjUiIHk9IjAiIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0iIzExMSIgLz4KICA8L2c+CiAgPGRlZnM+CiAgICA8Y2xpcFBhdGggaWQ9ImNsaXAwIj4KICAgICAgPHJlY3Qgd2lkdGg9IjE0MiIgaGVpZ2h0PSI3MSIgZmlsbD0id2hpdGUiIC8+CiAgICA8L2NsaXBQYXRoPgogIDwvZGVmcz4KPC9zdmc+');
  }

  .content {
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding-left: max(env(safe-area-inset-left), 1.5rem);
    padding-right: max(env(safe-area-inset-right), 1.5rem);
    max-width: 90rem;
    text-align: center;
    padding-bottom: 150px;
  }

  .headline {
    margin-top: 4rem;
    font-size: 3.125rem;
    font-size: min(4rem, max(8vw, 2.8rem));
    font-weight: 700;
    font-feature-settings: initial;
    line-height: 1.1;
    letter-spacing: -0.12rem;
    background: hsl(0 0% 100%);
  }
  :global(.dark) .headline {
    --tw-bg-opacity: 1;
    background-color: rgba(17,17,17,var(--tw-bg-opacity));
  }

  .headlineOne {
    font-size: 125%; /* Adjust based on your preference */
    display: inline; /* To keep the inline flow */
  }

  .headlineTwo {
    display: block; /* Makes each span take up the full width */
    margin-bottom: 8px; /* Adjust as needed */
    margin-top: 1rem;
    font-size: 50%; /* Adjust based on your preference */
  }

  .headlineThree {
    display: block; /* Makes each span take up the full width */
    font-size: 50%; /* Adjust based on your preference */
  }

  .head {
    color: hsl(0 0% 10%);
    position: relative;
    display: inline-flex;
    align-items: flex-end;
  }
  :global(.dark) .head {
    color: hsl(0 0% 100%);
  }

  .head > span:first-of-type {
    display: inline-block;
    line-height: 0.8;
  }

  .head > span:last-of-type {
    position: absolute;
    left: 98%;
    bottom: 46%;
    opacity: 0.75;
  }

  .head > span:nth-of-type(2) {
    position: relative;
  }

  .pops {
    position: absolute;
    inset: 0;
    --tw-text-opacity: 1;
    background: hsl(var(--nextra-primary-hue)var(--nextra-primary-saturation)40%/var(--tw-text-opacity));
    mix-blend-mode: lighten;
    filter: brightness(2);
    overflow: hidden;
    pointer-events: none;
  }
  :global(.dark) .pops {
    mix-blend-mode: darken;
    background-color: transparent;
  }

  @keyframes pop {
    50% {
      background-size: 100% 100%;
    }
  }

  .pop {
    height: var(--size, 100%);
    aspect-ratio: 1;
    background: radial-gradient(hsl(var(--h) 100% 70%) 25%, transparent 50%);
    position: absolute;
    display: inline-block;
    animation: scale var(--s, 2s) var(--d, 0s) infinite alternate;
    left: var(--x, 0);
    top: var(--y, 0);
    scale: 0;
    translate: -50% -50%;
    mix-blend-mode: multiply;
    filter: blur(2px);
  }

  .pop:nth-of-type(1) {
    --x: 10%;
    --y: 25%;
    --h: 277;
    --s2: 6;
    --d: -0.25s;
    --s: 6s;
  }

  .pop:nth-of-type(2) {
    --x: 50%;
    --y: 45%;
    --h: 140;
    --s2: 5;
    --d: -0.75s;
    --s: 5s;
  }
  .pop:nth-of-type(3) {
    --x: 65%;
    --y: 75%;
    --h: 210;
    --s2: 3;
    --d: -0.5s;
    --s: 3s;
  }
  .pop:nth-of-type(4) {
    --x: 85%;
    --y: 15%;
    --h: 320;
    --s2: 5;
    --d: -1s;
    --s: 2s;
  }
  .pop:nth-of-type(5) {
    --x: 15%;
    --y: 100%;
    --h: 40;
    --s2: 3;
    --d: -1s;
    --s: 2s;
  }

  @keyframes scale {
    to {
      scale: var(--s2);
    }
  }

  .subtitle {
    display: block;
    margin-top: .5em;
    margin-left: 12em;
    margin-right: 12em;
    color: hsl(204 20% 40%);
    font-size: 1.3rem;
    font-size: min(1.3rem, max(3.5vw, 1.1rem));
    font-feature-settings: initial;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
  }
  .subtitle br {
    display: none;

    @media (min-width: 810px) {
      display: block;
    }
  }

  :global(.dark) .subtitle {
    color: hsl(204, 12%, 50%);
  }

  .actions {
    margin-top: 1.6em;
    margin-bottom: 1.4em;
    display: block;
    align-items: left;
    justify-content: left;
    font-size: 1.0rem;
    font-size: min(1.0rem, max(3.5vw, 1.1rem));
    font-weight: 500;
  }

  a.cta {
    margin-right: 0.75rem;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    --tw-text-opacity: 1;
    background: linear-gradient(to bottom, hsl(var(--nextra-primary-hue)var(--nextra-primary-saturation)70%/var(--tw-text-opacity)), hsl(var(--nextra-primary-hue)var(--nextra-primary-saturation)60%/var(--tw-text-opacity)));
    color: white;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    transition: all 0.2s ease;
  }
  :global(.dark) a.cta {
    background: linear-gradient(to bottom, hsl(var(--nextra-primary-hue)var(--nextra-primary-saturation)50%/var(--tw-text-opacity)), hsl(var(--nextra-primary-hue)var(--nextra-primary-saturation)40%/var(--tw-text-opacity)));
  }

  a.cta span {
    display: inline-block;
    transition: all 0.2s ease;
  }

  a.cta:hover {
    --tw-text-opacity: 1;
    box-shadow: 0 5px 30px -10px hsl(var(--nextra-primary-hue)var(--nextra-primary-saturation)70%/var(--tw-text-opacity));
    filter: brightness(1.05);
  }

  a.cta:hover span {
    transform: translateX(3px);
  }

  a.cta:active {
    box-shadow: 0 1px 3px #00295738;
    filter: brightness(0.95);
  }
  a.cta:active span {
    transform: translateX(5px);
  }

  a.cta:focus-visible {
    outline: 2px solid
      hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 77%);
    outline-offset: 2px;
  }

  a.cta:focus-visible span {
    transform: translateX(3px);
  }

  a.secondaryAction {
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    box-shadow: hsl(204 10% 75%) 0 0 0 1px inset;
    background: rgba(255, 255, 255, 0.7);
    color: hsl(204 20% 30%);
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    transition: all 0.2s ease;
  }
  a.secondaryAction:hover {
    box-shadow: 0 5px 22px -10px hsl(204 45% 20%);
    box-shadow: hsl(204 20% 50%) 0 0 0 1px inset;
  }

  a.secondaryAction:active {
    box-shadow: hsl(204 10% 75%) 0 0 0 1px inset;
  }

  a.secondaryAction:focus-visible {
    outline: 2px solid
      hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 77%);
    outline-offset: 2px;
  }

  :global(.dark) a.secondaryAction {
    background: rgba(17, 17, 17, 0.7);
    color: hsl(204 10% 70%);
    box-shadow: hsl(204 10% 25%) 0 0 0 1px inset;
    text-shadow: 0 1px 1px #000;
  }
  :global(.dark) a.secondaryAction:hover {
    background: rgba(17, 17, 17, 1);
    box-shadow: hsl(204 10% 50%) 0 0 0 1px inset;
  }

  :global(.dark) a.secondaryAction:active {
    box-shadow: hsl(204 10% 25%) 0 0 0 1px inset;
  }

  .links {
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links a {
    margin-right: 0.25em;
    padding: 0 0.5em;
    background: rgba(255, 255, 255, 0.5);
    color: hsl(204 20% 50%);
    font-size: 1.2rem;
    font-size: min(1.2rem, max(3.5vw, 1rem));
    font-weight: 400;
    line-height: 1.5em;
    white-space: nowrap;
  }

  .links a strong {
    color: hsl(204 20% 30%);
    font-weight: 400;
    transition: all 0.2s ease;
  }

  .links a:last-child {
    margin-right: 0;
  }

  .links a:hover strong {
    color: hsl(204 20% 20%);
  }

  :global(.dark) .links a {
    background: rgba(17, 17, 17, 0.5);
    color: hsl(204, 12%, 40%);
  }

  :global(.dark) .links a strong {
    color: hsl(204, 12%, 60%);
  }

  :global(.dark) .links a:hover strong {
    color: hsl(204, 12%, 70%);
  }
